{% extends 'GeneralMaster.html' %}
{% block contentarea %}
    {% load static %}
    <div class="container">

    <div class="row">
        <div class="col-sm-12 pannel pannel-body" style="border:3px solid whitesmoke;height:80px;margin-top:10px;border-radius:60px;box-shadow:10px 10px lightgray;text-align:center; padding:15px;font-size:30px;background-color:white; color:darkred;"><span class="fa fa-bed">Hostels</span></div>

    </div>
        <div class="row">
   <div class="col-sm-12 pannel pannel-body"style="font-size:25px;padding:20px;color:gray;"> Maharana Pratap Polytechnic, Gorakhpur is offering residential facility to student.
       </div>
       <div class="col-sm-12 pannel pannel-body"style="font-size:25px;color:gray;">
           Boys Hostel: 3 Seated 40 Rooms.<br>
Total capacity: 120 Students</div>
        </div>
    </div>
{% endblock %}