{% extends 'GeneralMaster.html' %}
{% block contentarea %}
{% load static %}
    <div class="container-fluid">
         <div class="row">
             <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <img src="{% static 'images/principal.jpeg' %}"style="height:300px;width:80%;margin-left:50px;border:3px solid darkred;box-shadow:5px 5px gray"class="hvr hvr-bob"; class="img img-rounded";class="img img-responsive";>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <hr style="height:2px; background-color:darkred;box-shadow:2px 2px gray;">
         </div>
    <em style="color:darkgray;font-size:16px;text-align:justify-all;">Principle allouncement
We live in 21st century which is technical era and technology has been embraced and incorporated into our daily lives. Within the constructs of civilized society, the vast rewards of technological innovations have far outweighed the negatives.
We believe that students of Maharana Pratap Polytechnic would not only excel across several dimensions, like knowledge domain, skills, communication and basic human values, but they would also combine these with priceless qualities of mind and heart. It is for this important reason that we have succeeded in maintaining our position among leading Diploma in Engineering in the country.
        It gives me immense pleasure to welcome you to this institute which is the one of the oldest polytechnic after Independence in UP established in 1956. This institute have well equipped labs, Computer Centre and library to help students in attaining highest standards in academics, and professional skills.</em>

<div class="row">
<div class="col-sm-6"></div>
<div class="col-sm-6"><b>-Major Pateshwari Singh Principal(Acting)<br>
(MAHARANA PRATAP POLYTECHNIC,GORAKHPUR)</b></div>
</div>

{% endblock %}
