{% extends 'GeneralMaster.html' %}
{% block contentarea %}
    {% load static %}
    <div class="container">

    <div class="row">
        <div class="col-sm-12 pannel pannel-body" style="border:3px solid whitesmoke;height:80px;margin-top:10px;border-radius:60px;box-shadow:10px 10px lightgray;text-align:center; padding:15px;font-size:30px;background-color:white; color:darkred;"><span class="fa fa-book">About Library</span></div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-sm-3"><img src="{% static 'images/L1.jpg' %}" style="height:200px;width:100%;border:2px solid black;"class="hvr hvr-bob"></div>
     <div class="col-sm-3"><img src="{% static 'images/L2.jpg' %}" style="height:200px;width:100%;border:2px solid black;"class="hvr hvr-bob"></div>
        <div class="col-sm-3"><img src="{% static 'images/L3.jpg' %}" style="height:200px;width:100%;border:2px solid black;"class="hvr hvr-bob"></div>
        <div class="col-sm-3"><img src="{% static 'images/L4.jpg' %}" style="height:200px;width:100%;border:2px solid black;"class="hvr hvr-bob"></div>
    </div>
    </div>
{% endblock %}







