{% extends 'AdminZone/AdminMaster.html' %}
{% block contentarea %}
    <center><h1><em>Admin Zone</em></h1></center>
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="col-sm-3 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;">
                    <div class="col-sm-1">
                        <a href="/AdminZone/Adashboard" class="fa fa-dashboard" style="font-size:115px"></a>
                        <div class="col-sm-2">
                            <em><b>Adashboard</b></em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-1">
                        <a href="/AdminZone/ViewRegistration" class="glyphicon glyphicon-registration-mark" style="font-size:115px"></a>
                        <div class="col-sm-3">
                            <em><b>View_Registration</b></em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-1">
                        <a href="/AdminZone/AddNotification" class="fa fa-bell" style="font-size:115px"></a>
                        <div class="col-sm-2">
                            <em><b>Add_Notification</b></em>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="col-sm-3 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;">
                    <div class="col-sm-1">
                        <a href="/AdminZone/ViewEnquiry" class="fa fa-dashboard" style="font-size:115px"></a>
                        <div class="col-sm-2">
                            <em><b>ViewEnquiry</b></em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-1">
                        <a href="/AdminZone/ViewNotification" class="glyphicon glyphicon-registration-mark" style="font-size:115px"></a>
                        <div class="col-sm-3">
                            <em><b>ViewNotification</b></em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-1">
                        <a href="/AdminZone/ViewFeedback" class="fa fa-bell" style="font-size:115px"></a>
                        <div class="col-sm-2">
                            <em><b>ViewFeedback</b></em>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>








        <div class="row">
            <div class="col-sm-1"></div>
             <div class="col-sm-10">
                  <div class="col-sm-5 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-2">
                        <a href="/AdminZone/Changepassword" class="fa fa-key" style="font-size:100px"></a>
                        <div class="col-sm-3">
                            <em>Change Password</em>
                        </div>
                    </div>

                  </div>
                  <div class="col-sm-5 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-2">
                        <a href="/AdminZone/alogout" class="fa fa-sign-out" style="font-size:120px"></a>
                        <div class="col-sm-3">
                            <em>LogOut</em>
                        </div>
                    </div>

                  </div>
             </div>
             <div class="col-sm-1"></div>
        </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    </div>
{% endblock %}
