{% extends 'GeneralMaster.html' %}
{% block contentarea %}
    {% load static %}
    <div class="container">
<div class="row">
    <div class="col-sm-12 pannel pannel-body" style="border:3px solid whitesmoke;height:80px;margin-top:10px;border-radius:60px;box-shadow:10px 10px lightgray;text-align:center; padding:15px;font-size:50px;background-color:whitesmoke; color:darkred;"><span class="fa fa-institution"><b><em>Facilities</em></b></span></div>
</div>
        <!------------seminar hall----------------------->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:white;margin-top:20px;font-size:40px;"><span><tt><b>Seminar Hall</b></tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!---------------campus selection------------------------------>
     <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:white;margin-top:20px;font-size:40px;"><span><tt><b>compus selection</b></tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!------------------sports------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:white;margin-top:20px;font-size:40px;"><span><tt><b>sports</b></tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!----------------------branch labs----------------------------------->

    <!-----------------------workshops lab------------------------------------------>

    <!---------------------curtural program-------------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:white;margin-top:20px;font-size:40px;"><span><tt><b>curtural program</b></tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!--------------------------company workshop--------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:white;margin-top:20px;font-size:40px;"><span><tt><b>company workshop</b></tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!---------------------------library-------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:white;margin-top:20px;font-size:40px;"><span><tt><b>library</b></tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!--------------------------boys hostel--------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:white;margin-top:20px;font-size:40px;margin-bottom:20px;"><span><tt><b>boys hostel</b></tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!----------------------------having branch classes------------------------------------->

    <!----------------------------having camera in all classes------------------------------------->

    </div>
{% endblock %}