{% extends 'GeneralMaster.html' %}
{% block contentarea %}
    {% load static %}
<div class="container">
<div class="row">
    <div class="col-sm-12 pannel pannel-body" style="border:3px solid whitesmoke;height:80px;margin-top:10px;border-radius:60px;box-shadow:10px 10px lightgray;text-align:center; padding:15px;font-size:40px;background-color:whitesmoke; color:darkred;"><span class="fa fa-user"><strong><em>Branch HOD and Branch Teachers</em></strong></span></div>

    <!--------------civil branch-------------------------------->
    <div class="row">
<div class="col-sm-1"></div>
        <div class="col-sm-10 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:chocolate; color:black;margin-top:20px;"><span class="fa fa-graduation-cap"><b><tt>Civil Engineering</tt></b></span></div>

    <div class="col-sm-1"></div>
        </div>
    <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-4 pannel pannel-body" style="border:2px solid whitesmoke;height:300px;border-radius:20px;margin-right:5px;margin-top:10px;margin-left:30px;box-shadow:10px 10px lightgray">
            <h4 class="text text-center text-success"style="color:darkred;"><b>NAME:- R R SINGH (HOD)</b></h4>
        <hr style="height:2px;background:darkred;">
<img src="{% static 'images/civil.jpg' %}" alt="..." style="height: 200px;width:100%";class="img img-responsive";>
        </div>
        <div class="col-sm-0"></div>
        <div class="col-sm-8"style="border:3px solid whitesmoke;height:300px;width:60%;margin-right:25px;margin-top:10px;margin-left:5px;border-radius:20px;box-shadow:10px 10px lightgray;">
            <h4 class="text text-center text-success"style="color:darkred;"><b>Teacher Name</b></h4>
        <hr style="height:2px;background:darkred;">

        </div>
    </div>
    <!---------Electrical Branch-------------------------->
 <div class="row">
<div class="col-sm-1"></div>
     <div class="col-sm-10 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:chocolate; color:black;margin-top:20px;"><span class="fa fa-graduation-cap"><b><tt>Electrical Engineering</tt></b></span></div>

    <div class="col-sm-1"></div>
        </div>
    <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-4 pannel pannel-body" style="border:2px solid whitesmoke;height:300px;border-radius:20px;margin-right:5px;margin-top:10px;margin-left:30px;box-shadow:10px 10px lightgray">
            <h4 class="text text-center text-success"style="color:darkred;"><b>NAME:- PREM PRAKASH SINGH (HOD)</b></h4>
        <hr style="height:2px;background:darkred;">
<img src="{% static 'images/P.jpeg' %}" alt="..." style="height: 200px;width:100%";class="img img-responsive";>
        </div>
        <div class="col-sm-0"></div>
        <div class="col-sm-8"style="border:3px solid whitesmoke;height:300px;width:60%;margin-right:25px;margin-top:10px;margin-left:5px;border-radius:20px;box-shadow:10px 10px lightgray;">
            <h4 class="text text-center text-success"style="color:darkred;"><b>Teacher Name</b></h4>
        <hr style="height:2px;background:darkred;">
        </div>
    </div>
<!---------------Mechanical (Production)-------------------------------->
 <div class="row">
<div class="col-sm-1"></div>
     <div class="col-sm-10 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:chocolate; color:black;margin-top:20px;"><span class="fa fa-graduation-cap"><b><tt>Mechanical (Production)</tt></b></span></div>

    <div class="col-sm-1"></div>
        </div>
    <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-4 pannel pannel-body" style="border:2px solid whitesmoke;height:300px;border-radius:20px;margin-right:5px;margin-top:10px;margin-left:30px;box-shadow:10px 10px lightgray">
            <h4 class="text text-center text-success"style="color:darkred;"><b>NAME:- BAIJ NATH VERMA (HOD)</b></h4>
        <hr style="height:2px;background:darkred;">
<img src="{% static 'images/me.jpg' %}" alt="..." style="height: 200px;width:100%";class="img img-responsive";>
        </div>
        <div class="col-sm-0"></div>
        <div class="col-sm-8"style="border:3px solid whitesmoke;height:300px;width:60%;margin-right:25px;margin-top:10px;margin-left:5px;border-radius:20px;box-shadow:10px 10px lightgray;">
            <h4 class="text text-center text-success"style="color:darkred;"><b>Teacher Name</b></h4>
        <hr style="height:2px;background:darkred;">
        </div>
    </div>
    <!---------------Mechanical (CAD)-------------------------------->
<div class="row">
<div class="col-sm-1"></div>
    <div class="col-sm-10 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:chocolate; color:black;margin-top:20px;"><span class="fa fa-graduation-cap"><b><tt>Mechanical (CAD)</tt></b></span></div>

    <div class="col-sm-1"></div>
        </div>
    <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-4 pannel pannel-body" style="border:2px solid whitesmoke;height:300px;border-radius:20px;margin-right:5px;margin-top:10px;margin-left:30px;box-shadow:10px 10px lightgray">
            <h4 class="text text-center text-success"style="color:darkred;"><b>NAME:-  ANURAG KUMAR

 (HOD)</b></h4>
        <hr style="height:2px;background:darkred;">
<img src="{% static 'images/mme - 50kb.jpg' %}" alt="..." style="height: 200px;width:100%";class="img img-responsive";>
        </div>
        <div class="col-sm-0"></div>
        <div class="col-sm-8"style="border:3px solid whitesmoke;height:300px;width:60%;margin-right:25px;margin-top:10px;margin-left:5px;border-radius:20px;box-shadow:10px 10px lightgray;">
            <h4 class="text text-center text-success"style="color:darkred;"><b>Teacher Name</b></h4>
        <hr style="height:2px;background:darkred;">
        </div>
    </div>
    <!----------------------------Computer Science-------------------------------------------------------->
    <div class="row">
<div class="col-sm-1"></div>
        <div class="col-sm-10 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:chocolate; color:black;margin-top:20px;"><span class="fa fa-graduation-cap"><b><tt>Computer Science</tt></b></span></div>

    <div class="col-sm-1"></div>
        </div>
    <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-4 pannel pannel-body" style="border:2px solid whitesmoke;height:300px;border-radius:20px;margin-right:5px;margin-top:10px;margin-left:30px;box-shadow:10px 10px lightgray">
            <h4 class="text text-center text-success"style="color:darkred;"><b>NAME:-PRAJEEV KUMAR CHAURASIA (HOD)</b></h4>
        <hr style="height:2px;background:darkred;">
<img src="{% static 'images/cs.jpg' %}" alt="..." style="height: 200px;width:100%";class="img img-responsive";>
        </div>
        <div class="col-sm-0"></div>
        <div class="col-sm-8"style="border:3px solid whitesmoke;height:300px;width:60%;margin-right:25px;margin-top:10px;margin-left:5px;border-radius:20px;box-shadow:10px 10px lightgray;">
            <h4 class="text text-center text-success"style="color:darkred;"><b>Teacher Name</b></h4>
        <hr style="height:2px;background:darkred;">
{#            <tt><li>Prvesh</li>#}
{#                <li>ankita</li>#}
{#                <li>reeta</li>#}
{#                <li>swati</li>#}
{#                <li>vishal</li>#}
{#            </tt>#}

        </div>
    </div>
    <!--------------------------------------------Electronics Engineering---------------------------------------------------------->
    <div class="row">
<div class="col-sm-1"></div>
        <div class="col-sm-10 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:chocolate; color:black;margin-top:20px;"><span class="fa fa-graduation-cap"><b><tt>Electronics Engineering</tt></b></span></div>

    <div class="col-sm-1"></div>
        </div>
    <div class="col-sm-12" style="margin-top:10px;">
        <div class="col-sm-4 pannel pannel-body" style="border:2px solid whitesmoke;height:300px;border-radius:20px;margin-right:5px;margin-top:10px;margin-left:30px;box-shadow:10px 10px lightgray";>
            <h4 class="text text-center text-success"style="color:darkred;"><b>NAME:-YASHI TIWARI (HOD)</b></h4>
        <hr style="height:2px;background:darkred;">
<img src="{% static 'images/ee.jpg' %}" alt="..." style="height: 200px;width:100%";class="img img-responsive";>
        </div>
        <div class="col-sm-0"></div>
        <div class="col-sm-8"style="border:3px solid whitesmoke;height:300px;width:60%;margin-right:25px;margin-top:10px;margin-left:5px;border-radius:20px;box-shadow:10px 10px lightgray;margin-bottom:20px;">
            <h4 class="text text-center text-success"style="color:darkred;"><b>Teacher Name</b></h4>
        <hr style="height:2px;background:darkred;">
        </div>
    </div>
</div>
</div>
{% endblock %}