{% extends 'userZone/UserMaster.html' %}
{% block contentarea %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="col-sm-4 pannel pannel-body" style="border:1px solid teal"pann>
            <input type="password" name="txtoldpass" placeholder="enter your old password" class="form-control" style="margin-top:40px;">
                <input type="password" name="txtnewpass" placeholder="enter your new password" class="form-control" style="margin-top:40px;">
                <input type="password" name="txtcpass" placeholder="enter your confirm password" class="form-control" style="margin-top:40px;">
                <input type="submit" class="btn btn-success" value="change password" style="margin-top:20px;">
    </div>
        </form>
        <div class="col-sm-4"></div>
    </div>
    </div>
{% endblock %}