{% extends 'UserZone/UserMaster.html' %}
{% block contentarea %}
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="col-sm-3 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;">
                    <div class="col-sm-1">
                        <a href="/UserZone/SDashboard" class="fa fa-dashboard" style="font-size:100px"></a>
                        <div class="col-sm-2">
                            <em>Dashboard</em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-1">
                        <a href="/UserZone/myprofile" class="fa fa-user" style="font-size:100px"></a>
                        <div class="col-sm-3">
                            <em>My_Profile</em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-1">
                        <a href="/UserZone/feedback" class="fa fa-comment" style="font-size:100px"></a>
                        <div class="col-sm-2">
                            <em>Feedback</em>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
        <div class="row">
            <div class="col-sm-1"></div>
             <div class="col-sm-10">
                  <div class="col-sm-5 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-2">
                        <a href="/UserZone/schangepassword" class="fa fa-key" style="font-size:100px"></a>
                        <div class="col-sm-3">
                            <em>Change Password</em>
                        </div>
                    </div>

                  </div>
                  <div class="col-sm-5 pannel pannel-body" style="box-shadow:1px 1px 30px 10px dimgray;margin-top:30px;margin-left:30px;">
                    <div class="col-sm-2">
                        <a href="/UserZone/logout" class="fa fa-sign-out" style="font-size:120px"></a>
                        <div class="col-sm-3">
                            <em>LogOut</em>
                        </div>
                    </div>

                  </div>
             </div>
             <div class="col-sm-1"></div>
        </div>
            <div class="col-sm-1"></div>
        </div>
{#    </div>#}
{#    </div>#}
{% endblock %}